The first step is to import all of our packages

In [1]:
import pandas as pd
import numpy as np

Next, we have to import out dataset, and turn it into something we can actually use

In [2]:
data = pd.read_csv('house_data.csv')

Now, lets take a look at the data by using the head() function from Pandas

In [3]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

Now that we have our data in a Pandas data structure, we only want to keep some of the variables

In [4]:
data = data[['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors']]
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors
0,313000.0,3.0,1.50,1340,7912,1.5
1,2384000.0,5.0,2.50,3650,9050,2.0
2,342000.0,3.0,2.00,1930,11947,1.0
3,420000.0,3.0,2.25,2000,8030,1.0
4,550000.0,4.0,2.50,1940,10500,1.0

We now need to split the data for testing and training, and seperate the price variable from the others. This will require a a new package

In [5]:
from sklearn.model_selection import train_test_split

X=data.drop('price', axis=1) 
y=data.price  

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Now we can import another package to create our model

In [6]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = regressor.predict(X_test)

After running training the model on the train data, and testing on the test data, we can see the results in the next cell. We don't use the accuracy metric becuase the data is continous, and our data is not a classification problem

In [10]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df

,Actual,Predicted
1515,345000.0,3.394024e+05
2466,380000.0,6.344585e+05
3897,342000.0,5.716122e+05
470,368000.0,3.867219e+05
1728,610000.0,9.740545e+05
...,...,...
1768,580135.0,7.943863e+05
459,212000.0,3.248009e+05
1761,1070000.0,1.077328e+06
31,499950.0,7.203515e+05
4125,600000.0,5.549825e+05